.index nav{text-align: center;}
.index .tytul{ text-align: center;color: green;}
.index .text {text-align: justify;width: 100%;
font-family: Arial, Helvetica, sans-serif;margin:20px }
.index .columns{display: flex;flex-direction:row;}
.index .links a:hover{background-color: aqua;}
img{width: 500px; height: 500px; padding: 10px; border: 4px solid rgb(90, 79, 79);margin:1cm}
 h1{text-align: center;}
 .container{display:flex    }
 .container div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}
.style h1{text-align: center; 
}
#name{background-color: blue;}
#surname{background-color: blue;}
.orange-button{background-color: orange; margin:1cm}
